{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {% if faculty_id %}
        Редактирование факультета
    {% else %}
        Создать новый факультет
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/form.css" %}"/>
{% endblock head %}

{% block content %}
    <div class="container">
    <div class="row justify-content-center">
        {% if message %}
        <div >
            <p><span class="error-message">{{ message }}</span></p>
        </div>
    {% endif %}
        <div class="col-8">
            <h4 class="mt-2">
                {% if faculty_id %}
                    Редактирование факультета
                {% else %}
                    Создать новый факультет
                {% endif %}
            </h4>
            <hr class="mt-0 mb-4">
<form action="." method="post">
    {{ form|crispy }}
    {% csrf_token %}
    <div class="footer-form">
    <p>
        <input type="submit" class="btn btn-primary button" value="Сохранить">
    </p>
    </div>
</form>
        </div>
    </div>
    {% if faculty_id %}
        <a class="btn btn-danger left-button" href="/structure/faculty/delete/{{ faculty_id }}/">Удалить факультет</a>
        <a class="btn btn-success button" href="/structure/faculty/{{ faculty_id }}/speciality/list/">Специальности</a>
        {% endif %}
    </div>


{% endblock %}