div.table-column {
    display: inline-block;
    margin-left: 10pt;
    margin-right: 20pt;
    vertical-align: top;
}

div.table-column span {
    color: darkblue;
    font-size: larger;
}

span.error-message{
    color: red;
    font-size: larger;
}

input.button {
    margin-top: 10pt;
}