table {
    border-collapse: collapse;
    overflow: scroll;
   overflow-x:hidden;
   }

td, th {
    padding: 0;
    border: 1px solid black;
    align: center;
   }

td.empty {
    background-color: red;
}

a.button {
    margin-top: 10pt;
}

a.student {
    
}