{% extends "base.html" %}
{% load static %}
{% load dictionary_filters %}
{% block title %}{{ group.number }} group{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/table.css" %}"/>
{% endblock head %}
{% block content %}
    <div>
    <h2>{{ group.number }} - {{ group.speciality }}</h2>
            {% if status %}
                <div>
                    <p><span>Данные успешно загружены</span></p>
            {% endif %}

    </div>
        <table class="table-bordered">
            <caption>Список студентов</caption>
            <thead>
                <th><div>Имя студента</div></th>
                {% for subject in subjects %}
                    <th>{{ subject }}</th>
                {% endfor %}
            <thead/>
            <tbody>
                {% for marks_dict in marks_by_st %}
                <tr>
                    <td ><div>{{ marks_dict.student }}</div></td>
                {% for subject in subjects %}
                    {% if marks_dict.marks|dict_get_value:subject.id %}
                    <td>{{ marks_dict.marks|dict_get_value:subject.id }}</td>
                    {% else %}
                    <td class="empty"></td>
                    {% endif %}

                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <div>
        <p><span>Импортировать данные об оценках из файла</span></p>
        <form action="/structure/group/{{ group.pk }}/upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ file_form }}
            <input type="submit" value="импорт">
        </form>
    </div>
    <div>
        <a class="btn btn-primary" href="/structure/group/{{ group.pk }}/create-prediction/">сделать предсказание</a>
    </div>
    </div>
{% endblock content %}