{% extends "base.html" %}
{% load static %}
{% load dictionary_filters %}
{% block title %}{{ group.number }} group{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/table.css" %}"/>
{% endblock head %}
{% block content %}
<div>
    <h2>{{ group.number }} - {{ group.speciality }}</h2>
            {% if status %}
                <div>
                    <p><span>Данные успешно загружены</span></p>
            {% endif %}

    </div>
        <table class="table-bordered">
            <!--caption>Список студентов</caption-->
            <thead>
                <th><div>Имя студента</div></th>
                {% for subject in subjects %}
                    <th>{{ subject }}</th>
                {% endfor %}
            <thead/>
            <tbody>
                {% for marks_dict in marks_by_st %}
                <tr>
                    <td ><div>
                        {% if request.user.role.role_id == 1 %}
                            <a class="student" href="/structure/student/{{ marks_dict.student.pk }}/">
                        {% endif %}
                        {{ marks_dict.student }}
                        {% if  request.user.role.role_id == 1%}
                            </a>
                        {% endif %}

                    </div></td>
                {% for subject in subjects %}
                    {% if marks_dict.marks|dict_get_value:subject.id %}
                    <td>{{ marks_dict.marks|dict_get_value:subject.id }}</td>
                    {% else %}
                    <td class="empty"></td>
                    {% endif %}

                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% if request.user.role.role_id == 1 %}
      <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Импортировать данные об оценках из файла
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <form action="/structure/group/{{ group.pk }}/upload/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ file_form }}
                <input type="submit" value="импорт">
            </form>
              </div>
            </div>
          </div>
      </div>
    {% endif %}

    <div>
        <a class="btn btn-primary button" href="/structure/group/{{ group.pk }}/create-prediction/">сделать предсказание</a>
        {% if request.user.role.role_id == 1 %}
        <a class="btn btn-success button" href="/structure/group/edit/{{ group.pk }}/">Редактировать группу</a>
        {% endif %}
    </div>
</div>
{% endblock content %}