{% extends "base.html" %}
{% load static %}
{% block title %}{{ group.number }} group{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/table.css" %}"/>
{% endblock head %}
{% block content %}
    <div>
    <h2>{{ group.number }} - {{ group.speciality }}</h2>
        <table border="1">
            <caption>Список студентов</caption>
            <thead>
                <th>Имя студента</th>
                {% for subject in subjects %}
                    <th>{{ subject }}</th>
                {% endfor %}
            <thead/>
            <tbody>
                {% for marks_arr in marks %}
                <tr>
                    <td>{{ marks_arr.student }}</td>
                {% for mark in marks_arr %}
                    <td>{{ mark.mark }}</td>
                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}