{% extends "base.html" %}
{% load static %}
{% block title %}Groups{% endblock title %}
{% block content %}
    <div>
        <table class="table table-hover">
            <tr>
                <th class="table-primary">Список груп</th>
            </tr>
            {% for group_year in groups %}
            <tr>
                <th>{{ group_year.year }} курс</th>
            </tr>
                {% for group in group_year %}
            <tr>
                <td><a href="/structure/group/{{ group.id }}/">{{ group }}</a></td>
            </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% if request.user.role.role_id == 1 %}
        <a class="btn btn-primary " href="/structure/group/create/">Добавить группу</a>
        <a class="btn btn-success " href="/structure/faculty/edit/{{ faculty_id }}/">Редактировать факультет</a>
    {% endif %}
    </div>
{% endblock content %}