{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}

{% block style %}



    div.row {
        margin-top: 3cm;
        width: 10cm;
    }

{% endblock %}

{% block content %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
            <h5 class="mt-2">Войдите с помощью формы</h5>
            <hr class="mt-0 mb-4">
            {% if message %}
                <p class="text-danger">{{ message }}</p>
            {% endif %}
            {% if scmsg %}
                <p class="text-success">{{ scmsg }}</p>
            {% endif %}
            <form action="." method="post">
            {{ form|crispy}}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
        </div>
    </div>
{% endblock %}